:root{
    /*---------------------- COLORS -------------------------*/

    --light-orange:rgb(255, 155, 98);
    --dark-organge:rgb(241, 103, 24);
    --dark-blue:rgb(22, 37, 66);
    --light-blue:rgb(123, 139, 173);
    --gray:rgb(232, 239, 242);
    --white:rgb(255, 255, 255);
     /*---------------------- COLORS -------------------------*/

}


 /*---------------------- TYPOGRAPHY -------------------------*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 50;
    width: 100vw;
}

h1{
    font-family: 'Barlow', sans-serif;
    font-weight: black;
    font-size: 3rem;
    line-height: 3rem;
    margin: 0 0 2rem 0;
}
h2{
    font-family: 'Barlow', sans-serif;
    font-weight: black;
    font-size: 2rem;
    line-height: 2.25rem;
    margin: 0;
}
h3{
    font-family: 'Barlow', sans-serif;
    font-weight: black;
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin: 0;
}
p{
    font-family: 'Barlow', sans-serif;
    font-weight: medium;
    font-size: 1rem;
    line-height: 1.625rem;
    margin: 0;
}
a{
    text-decoration: none;
}
@media only screen and (min-width: 1200px) {
    h1{
        font-family: 'Barlow', sans-serif;
        font-weight: black;
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    
}
    
/*---------------------- LAYOUT-------------------------*/
body{
    min-width: 375px;
    display: flex;
    justify-content: center
}
section{
    max-width: 1920px;
}
@media only screen and (min-width: 1200px) {
section{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
}

/*---------------------- BUTTON1-------------------------*/
.button1{
   display: inline-block;
    background-color: var(--dark-organge);
    text-align: center;
    width: 175px;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: 'Barlow', sans-serif;
    color: white;
    transition: background-color .5s ease-in-out;
}
.button1:hover{
    background-color: var(--light-orange);
}



/*---------------------- BUTTON2-------------------------*/
.button2{
    display: inline-block;
     background-color: var(--gray);
     text-align: center;
     width: 175px;
     height: auto;
     padding: 1rem;
     border-radius: 0.5rem;
     font-family: 'Barlow', sans-serif;
     font-weight: 600;
     color: var(--dark-blue);
     grid-area: button;
     transition: background-color .5s ease-in-out,
                 color.5s ease-in-out;
 }
.button2:hover{
    background-color: var(--dark-blue);
    color: white;
}
.button__text2{
    font-family: 'Barlow', sans-serif;
    color: var(--dark-blue);
    font-size: 1rem;
    font-weight: medium;
}
.button__text2:hover{
    color: white;
}
/*---------------------- NAV BAR-------------------------*/
.nav{
    padding: 1.4rem 1.5rem 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 1200px) {
    .nav{
        display:grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 4fr 4fr 1fr;
        grid-template-areas: ". logo button .";
        column-gap: 31px;
        padding: 2rem;
    }
    .nav__icon{
        grid-area: logo;
        justify-self: start;
    
    }
    .button2{
        grid-area: button;
        justify-self: end;
    }

}

/*---------------------- CONTAINER1-------------------------*/
.container__block1{
    display:grid;
    width: 100%;
    padding: 1.5rem;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
                         "header"
                         "image";
}
.text__block1{
    grid-area: header;
    display: flex;
    align-items: center;
}
.text__container1{
    height: auto;
}
.light-blue{
    color: var(--light-blue);
}
.button__block{
    display: grid;
    grid-template-areas: "button text";
    margin-top: 2rem;
}
.release__tag{
    grid-area: text;
    align-self: center;
    text-align: end;
    color: var(--light-blue);
    font-weight: 600;
}
.image__block{
    display: flex;
    justify-content: end;
    grid-area: image;
    width: calc(100% + 1.5rem);
    position: relative;
    right: 0;
    bottom: -0.5rem;
}
.image__keyboard{
    position: relative;
    width: 100%;
    border-radius: 1rem 0 0 1rem;
    max-width: 569px;
    max-height: 500px;
}
@media only screen and (min-width: 477px) and (max-width: 768px) {
    .container__block1{
        grid-template-rows: 1fr 1.3fr; 
    }
    .release__tag{
        text-align: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .container__block1{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header image";
        column-gap: 1rem;
        padding: 2rem;
    }
    .image__block{
        width: calc(100% + 2rem);
    }
    .release__tag{
        text-align: center;
    }
}
@media only screen and (min-width: 1200px) {
    .container__block1{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 4fr 4fr 1fr;
        grid-template-areas: ". header image card";
        column-gap: 31px;
        padding: 2rem;
    }
    .image__keyboard{
        width: 96%;
        border-radius: 1rem;
    }
    .card{
        position: relative;
        right: -2rem;
        grid-area: card;
        width: 100%;
        height: 50%;
        border-radius: 1rem 0 0 1rem;
        background-color: var(--gray);
    }
}

/*---------------------- CONTAINER2-------------------------*/
.container__block2{
    display: grid;
    padding: 1.5rem;
    width: 100%;
    grid-template-rows: 1fr 1.6fr;
    grid-template-areas: 
                           "image"
                           "header";
}
.image__block2{
    display: grid;
    grid-template-columns: 1fr 2.7fr;
    column-gap: 1.5rem;
    grid-template-areas: "picture__red glass";
}
.picture__red{
   grid-area: picture__red; 
   width: 100%;
}
.red__filter{
    width: 100%;
    height: 100%;
    background-color: #c85614e4;
    opacity: .7;
    z-index: 10;
    position: absolute;
    border-radius: 0 1rem 1rem 0;
}
.red__container{
    width: calc(100% + 3rem);
    position: relative;
    left: -3rem;
}
.image__red{
    width: 100%;
    height: 100%;
    border-radius: 0 1rem 1rem 0;
}
.picture__glass{
    grid-area: glass; 
    width: 100%;
    height: 100%;
 }

.image__glass{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.text__block2{
    grid-area: header;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text__block2 h2{
    text-align: center;
    margin-bottom: 1rem;
}
.text__block2 p{
    text-align: center;
}
.card2{
    display: none;
}
@media only screen and (min-width: 477px) and (max-width: 768px) {
    .container__block2{
        grid-template-rows: 1fr 1fr;
        row-gap: 4rem;
    }
    .text__block2 p{
        width: 50%;
        margin-top: 2rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .container__block2{
        padding: 0 2rem 0 2rem;
        grid-template-rows: 1fr 0.6fr;
        
    }
    .red__container{
        width: 100%;
        position: relative;
        left: 0;
    }
    .image__red{
        border-radius: 1rem;
    }
    .red__filter{
        border-radius: 1rem;
    }
    .text__block2{
        flex-direction: row;
        justify-content: space-between;
    }
    .text__block2 h2{
        text-align: start;
    }
    .text__block2 p{
        width: 60%;
        text-align: left;
        margin-right: 2rem;
    }
    
    
}

@media only screen and (min-width: 1200px) {
    .container__block2{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 5.4fr 2.6fr 1fr;
        grid-template-areas:  "card image header .";
    
    }
    
    .image__block2{
        grid-template-columns: 1fr 1.74fr;
        grid-area: image;
        width: 100%;
    }
    .card2{
        position: relative;
        left: -2rem;
        grid-area: card;
        width: 100%;
        height: 50%;
        border-radius: 0 1rem 1rem 0;
        background-color: var(--gray);
    }
    .image__glass{
        height: 100%;
    }
    .red__container{
        width: 100%;
        position: relative;
        left: 0;
    }
    .image__red{
        border-radius: 1rem;
        height: 100%;
    }
    .red__filter{
        border-radius: 1rem;
    }
    .text__block2{
        display: flex;
        align-items: flex-start;
        grid-area: header;
        flex-direction: column;
        width: 50%;
        justify-self: center;
        
    }
    .text__block2 h2{
        text-align: start;
    }
    .text__block2 p{
        text-align: left;
    }
       
}
/*---------------------- CONTAINER3-------------------------*/
.container__block3{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    width: 100%;
    flex-wrap: wrap;
}
.header__box{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 2rem 0;
}
.header__box h3{
    text-align: center;
    margin: 3rem 0 1rem 0;
}
.header__box p{
    text-align: center;
    color: var(--light-blue);
}
.icon__block{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-organge);
    width: 65px;
    height: 65px;
    border-radius: 16px;
}
@media only screen and (min-width: 477px) and (max-width: 768px) {
    .container__block3{
        padding: 5rem;
    }
    .header__box{
        margin: 0 0 4rem 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .container__block3{
        justify-content: center;
    }
    .header__box{
        width: 35%;
        align-items: flex-start;
        padding: 0 1rem 0 0;
        margin: 1rem 1rem 2rem 1rem;
    }
    .header__box h3{
        text-align: start;
    }
    .header__box p{
        text-align: start;
    }
}
@media only screen and (min-width: 1200px) {
    .container__block3{
        width: 80%;
        align-self: center;
    }
    .header__box{
        width: 20%;
        align-items: flex-start;
        padding: 0 1rem 0 0;
        margin: 1rem 1rem 2rem 1rem;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .header__box h3{
        text-align: start;
    }
    .header__box p{
        text-align: start;
    }
}
@media only screen and (min-width: 1440px) {
    .header__box{
        width: 22%;
    }
}


/*---------------------- FOOTER-------------------------*/

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span{
    color: var(--light-blue);
    font-weight: 600;
}
footer p{
    color: var(--light-blue);
   
}
